<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>은행 어플</h1>
<a th:href="@{/deposit}">입금</a>
<a th:href="@{/withdraw}">출금</a>
<a th:href="@{/transfer}">송금</a>
<a th:href="@{/history}">이력</a>
<form th:action="@{createAccount}" method="post">
    <button type="submit">계좌 추가</button>

</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">로그아웃</button>
</form>
<div>
<form action="deleteAccount" method="post">
    <select name="accountNumber">
        <option value="">계좌 선택</option>
        <option th:each="account : ${accounts}"
                th:value="${account.number}"
                th:text="${account.number + ' (잔액: ' + account.balance + ')'}">
        </option>
    </select>
    <button type="submit">계좌 삭제</button>
</form>
</div>

</body>
</html>
